
@{
    ViewBag.Title = "Index";
}
@using Account.Models
@using PagedList.Mvc
@model PagedList.IPagedList<Account.Models.Roles>
<div class="navbar-collapse">
    <ul class=" breadcrumb">
        <li><a href="Home/Index">主页</a></li>
        <li class="active">角色管理</li>
    </ul>
</div>
<h2>角色管理</h2>
<div class="row">
    <div class="col-lg-6">
        @using (Html.BeginForm("Add", "Role", FormMethod.Post, new { id = "form1", enctype = "multipart/form-data" }))
        {

                <label>名称：</label>
                @Html.TextBox("Name", null, new {  })
           
            
                <label>备注：</label>
                @Html.TextBox("Remark", null, new { })
         
                <input id="submit" type="submit" value="新增角色" class="btn btn-primary btn-lg" />
           
        }
    </div>
    <div class="col-lg-6">
        <form action="/Role/Index" method="post">
            <label>角色名称:</label>
            @if (ViewBag.i != null)
            {

                <input type="text" id="Name" name="Name" placeholder="菜单名" value="@ViewBag.i" />
            }
            else
            {
                <input type="text" id="Name" name="Name" placeholder="菜单名" value="" />
            }

            <input id="Submit1" type="submit" value="查询" class="btn btn-success" />
        </form>
    </div>
</div>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>编号</th>
            <th>名称</th>
            <th>备注</th>
            <th>拥有的用户</th>
            <th>操作的菜单</th>
            <th>设置</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Remark</td>
                <td>
                    @foreach (var items in item.R_User_Roles)
                    {
                        @items.UserInfos.Name<br />
                    }
                </td>
                <td>
                    @foreach (var items in item.R_Role_Menus)
                    {
                        @items.Menus.Name
                        <a href="/Role/DelMenus/@items.ID" onclick="return confirm('您确认要删除 @item.Name 的 @items.Menus.Name 菜单信息吗？')">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                        <br />
                    }
                </td>
                <td>
                    <a href="/Role/SetMenus/@item.ID" class="btn btn-success btn-lg">设置菜单</a>
                    <a href="/Role/DelRoles/@item.ID" class="btn btn-danger">删除</a>
                </td>
            </tr>
        }

    </tbody>
</table>
<div>
    每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>