
@{
    ViewBag.Title = "SetMenus";

}

@using Account.Models
@model List<Account.Models.Menus>
<div class="navbar-collapse">
    <ul class=" breadcrumb">
        <li><a href="Home/Index">主页</a></li>
        <li><a href="Index">角色管理</a></li>
        <li class="active">设置菜单</li>
    </ul>
</div>

<h2>正在为 @ViewBag.roles.Name 设置菜单 </h2>
@using (Html.BeginForm("SetMenus", "Role", FormMethod.Post))
{
    var chenke = false;
    foreach (var item in Model)
    {
        foreach (var items in ViewBag.list)
        {
            if (item.ID == items.MenuID)
            {
                chenke = true;
                break;
            }
            else
            {
                chenke = false;
            }
        }

        <input id="Hidden1" type="hidden" name="RoleID" value="@ViewBag.roles.ID" />
        <input id="MenuID" type="checkbox" value="@item.ID" checked="@chenke" name="MenuID" />
        @item.Name
        <br />
        <br />
    }
    <input id="Submit1" type="submit" value="保存" class="btn btn-primary" />
}



