
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutEmax.cshtml";
}
@using Account.Models
@model Topic
<h2>编辑考题</h2>

<form action="/Topics/Edit" method="post">
    <input name="__RequestVerificationToken" type="hidden" value="RXSuEW5aiAwMbOISc37fzZ72jLXv_P-ujjj3A7DhywHHtuzfX9A8LdwQF8kCcAGBwb0SU-xfBryHqfBvHGfVV3bE521bIYuGAcZMhbDyzv81" />    <div class="form-horizontal">
        <h4>考题信息</h4>
        <hr />

        <input data-val="true" data-val-number="字段 TopicID 必须是一个数字。" data-val-required="TopicID 字段是必需的。" id="TopicID" name="TopicID" type="hidden" value="@Model.TopicID" />

        <div class="form-group">
            <label class="control-label col-md-2" for="TopicExplain">考题描述</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-required="考题描述是必填项" id="TopicExplain" name="TopicExplain" type="text" value="@Model.TopicExplain" />
                <span class="field-validation-valid text-danger" data-valmsg-for="TopicExplain" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="TopicScore">该题分值</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-number="字段 该题分值 必须是一个数字。" data-val-required="该题分值是必填项" id="TopicScore" name="TopicScore" type="number" value="@Model.TopicScore" />
                <span class="field-validation-valid text-danger" data-valmsg-for="TopicScore" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="TopicType">类型</label>
            <div class="col-md-10">
                <!--下拉列表-->
                <select class="form-control" data-val="true" data-val-number="字段 类型 必须是一个数字。" data-val-required="类型是必填项" id="TopicType" name="TopicType">
                    <option selected="selected" value="1">单选</option>
                    <option value="2">判断</option>
                    <option value="3">问答</option>
                </select>
                <span class="field-validation-valid text-danger" data-valmsg-for="TopicType" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="TopicA">A选项</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="TopicA" name="TopicA" type="text" value="@Model.TopicA" />
                <span class="field-validation-valid text-danger" data-valmsg-for="TopicA" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="TopicB">B选项</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="TopicB" name="TopicB" type="text" value="@Model.TopicB" />
                <span class="field-validation-valid text-danger" data-valmsg-for="TopicB" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="TopicC">C选项</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="TopicC" name="TopicC" type="text" value="@Model.TopicC" />
                <span class="field-validation-valid text-danger" data-valmsg-for="TopicC" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="TopicD">D选项</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="TopicD" name="TopicD" type="text" value="@Model.TopicD" />
                <span class="field-validation-valid text-danger" data-valmsg-for="TopicD" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="TopicSort">排序</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-number="字段 排序 必须是一个数字。" data-val-required="排序是必填项" id="TopicSort" name="TopicSort" type="number" value="@Model.TopicSort" />
                <span class="field-validation-valid text-danger" data-valmsg-for="TopicSort" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="TopicAnswer">正确答案</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-required="正确答案是必填项" id="TopicAnswer" name="TopicAnswer" type="text" value="@Model.TopicAnswer" />
                <span class="field-validation-valid text-danger" data-valmsg-for="TopicAnswer" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="PaperID">试卷名称</label>
            <div class="col-md-10">
                @*<select class="form-control" id="PaperID" name="PaperID">
                    <option value="1">HTML理论试题一</option>
                    <option value="2">C#Base 2019 期末试卷</option>
                    <option selected="selected" value="3">mvc考试</option>
                    <option value="4">11</option>
                    <option value="5">模拟</option>
                    <option value="6">MVC模拟考试</option>
                </select>*@
                @Html.DropDownList("PaperID", ViewBag.model as IEnumerable<SelectListItem>,"--请选择--")
                <span class="field-validation-valid text-danger" data-valmsg-for="PaperID" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=" 保存 " class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

