@model Account.Models.Paper

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutEmax.cshtml";
    double num = 0;
}

<h2>试卷详情</h2>
<div>
    <fieldset>
        <legend>试卷信息</legend>
        <dl class="dl-horizontal">
            <dt> 试卷名</dt>
            <dd>@Model.PaperName</dd>
            <dt> 试卷说明</dt>
            <dd> @Model.PaperExplain</dd>
            <dt> 试卷时长</dt>
            <dd> @Model.PaperTime 分钟</dd>
            <dt> 试卷总分</dt>
            @foreach (var item in Model.Topic)
            {
                num += @item.TopicScore;
            }
            <dd> @num 分</dd>
        </dl>
    </fieldset>

    <fieldset>
        <legend>试卷内容</legend>
        @foreach (var item in Model.Topic.OrderBy(p=>p.TopicSort))
        {
            <ul style="list-style:inside;">
                <li style="padding:20px;">
                    <span style="font-weight:bold"> @item.TopicExplain</span> ( @item.TopicScore 分)
                    <a href="/Topics1/Delete/@item.TopicID">删除考题</a> -
                    <a href="/Topics1/Edit/@item.TopicID">修改考题</a>

                    <ul style="padding-left:30px;">
                        @if (item.TopicType == 1)
                        {
                            <li>A. @item.TopicA </li>
                            <li>B. @item.TopicB</li>
                            <li>C. @item.TopicC</li>
                            <li>D. @item.TopicD</li>
                        }
                        else if (item.TopicType == 2)
                        {
                            <li>该题是判断题</li>
                        }
                        else
                        {
                            <li>该题是问答题</li>
                        }

                    </ul>
                </li>
            </ul>
        }

    </fieldset>

</div>
<p>
    <a href="/Topics1/Create?PaperID=@Model.PaperID">添加考题</a> |
    <a href="/Papers1/Edit/@Model.PaperID">修改试卷信息</a> |
    <a href="/Papers1">返回试卷列表</a>
</p>
