
@{
    ViewBag.Title = "Index";
}
@using Account.Models
@*@model PagedList.IPagedList<Account.Models.UserInfos>*@
@model List<Account.Models.UserInfos>

@using PagedList.Mvc;
   <br />
<div class="navbar-collapse">
    <ul class=" breadcrumb">
        <li><a href="Home/Index">主页</a></li>
        <li class="active">用户管理</li>
    </ul>
</div>
<div>
    <div class="col-lg-6">
        <a href="/UserInfo/Add" class="btn btn-primary">新增</a>
        <a href="/UserInfo/Add" class="btn btn-primary">导入</a>
        <a href="#" class="btn btn-primary" onclick="CheckAlls()">批量删除</a>
    </div>
    <div class="col-lg-6">
        <form method="post" action=" " class="form-inline">
            <label for="department">部门:</label>
            <select name="departmentID" id="departmentID" class="form-control">
                <option value="0">---请选择部门---</option>
                @foreach (var item in ViewBag.dList as List<Departments>)
                {
                    if ((item.ID).Equals(ViewBag.departmentID))
                    {
                        <option value="@item.ID" selected>@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                }
            </select>
            <lable class="label" for="department">姓名:</lable>
            <input type="text" name="Name" id="Name" value="@ViewBag.name" class="form-control" placeholder="请输入姓名模糊查询" />
            <input type="submit" value="查询" id="Name" class="btn btn-primary" />
        </form>
    </div>
</div>
<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>选择/<input type="checkbox" name="checkAll" id="checkAll" /></th>
            <th>编号</th>
            <th>姓名</th>
            <th>部门</th>
            <th>性别</th>
            <th>账号</th>
            <th>密码</th>
            <th>照片</th>
            <th>备注</th>
            <th>该账户拥有的角色</th>
            <th>设置角色</th>
            <th>修改</th>
            <th>删除</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><input type="checkbox" name="UserID" id="UserID" value="@item.ID" /></td>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Departments.Name</td>
                <td>
                    @if (item.Sex == true)
                    {
                        @:男
                    }
                    else
                    {
                        @:女
                    }
                </td>
                <td>@item.Account</td>
                <td>@item.Pwd</td>
                <td><img src="../imgaes/@item.Photo" height="50" /></td>
                <th>@item.Remark</th>
                <td>
                    @foreach (var r_User_Roles in item.R_User_Roles)
                    {
                        @r_User_Roles.Roles.Name
                        <a href="/UserInfo/DelRoles/@r_User_Roles.ID" onclick="return confirm('您确认要删除 @item.Name 的 @r_User_Roles.Roles.Name 职位信息吗？')">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                        <br />
                    }
                </td>
                <td>
                @Html.ActionLink("设置角色", "EditRole", "UserInfo", new { ids = item.ID, name = item.Name }, new { target = "_blank" })</td>
                <td><a href="/UserInfo/Remove/?UserID=@item.ID" onclick="return confirm('您确认要删除 @item.Name 的信息吗？')">删除</a></td>
                <td><a href="/UserInfo/Edit/?UserID=@item.ID">修改</a></td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-lg-8 form-inline">
        <label>总共 @ViewBag.tatalCount  行</label>
        <lable>选择显示的行数：</lable>
        <select name="pageCount" id="pageCount" onchange="window.location = this.value;">
            @{
                int[] count = new[] { 5, 10, 20, 30, 40, 50 };
            }
            @foreach (var item in count)
            {
                if (item.Equals(ViewBag.pageCount))
                {
                    <option selected value="/UserInfo/Index?DepartmentID=@ViewBag.departmentID&Name=@ViewBag.name&pageIndex=1&pageCount=@item">@item</option>
                }
                else
                {
                    <option value="/UserInfo/Index?DepartmentID=@ViewBag.departmentID&Name=@ViewBag.name&pageIndex=1&pageCount=@item">@item</option>
                }

            }

        </select>
    </div>
    <div class="col-lg-4">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="/UserInfo/Index?DepartmentID=@ViewBag.departmentID&Name=@ViewBag.name&pageIndex=1&pageCount=@ViewBag.pageCount">首页</a></li>
                @if (ViewBag.pageIndex > 1)
                {
                    <li class="page-item"><a class="page-link" href="/UserInfo/Index?DepartmentID=@ViewBag.departmentID&Name=@ViewBag.name&pageIndex=@(ViewBag.pageIndex-1)&pageCount=@ViewBag.pageCount">上一页</a></li>

                }
                else
                {
                    <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
                }
                <li class="page-item">
                    <a class="page-link" href="#">@ViewBag.pageIndex</a>
                </li>
                @if (ViewBag.pageIndex < ViewBag.tatalPage)
                {
                    <li class="page-item"><a class="page-link" href="/UserInfo/Index?DepartmentID=@ViewBag.departmentID&Name=@ViewBag.name&pageIndex=@(ViewBag.pageIndex+1)&pageCount=@ViewBag.pageCount">下一页</a></li>

                }
                else
                {
                    <li class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
                }

                <li class="page-item"><a class="page-link" href="/UserInfo/Index?DepartmentID=@ViewBag.departmentID&Name=@ViewBag.name&pageIndex=@ViewBag.tatalPage&pageCount=@ViewBag.pageCount">末页</a></li>
            </ul>
        </nav>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        /*全选的效果*/
         $('input:checkbox[name="checkAll"]').click(function(){
         if($(this).is(':checked')){
             $('input:checkbox').each(function(){
            $(this).prop("checked",true);
          });
            }else{
              $('input:checkbox').each(function(){
              $(this).prop("checked",false);
          });
            }
         });
        function CheckAlls() {
            var checkedNum = $("input[name=UserID]:checked").length;
            if (checkedNum == 0) {
                alert("至少选择一行");
                return;
            }
            if (confirm("确定要删除所选项吗？")) {
                var checkedList = new Array();
                $("input[name=UserID]:checked").each(function () {
                    checkedList.push($(this).val());
                });
                $.ajax({
                    type: "POST",
                    url: "/UserInfo/DelAll",
                    data: { "dellist": checkedList.toString() },
                    dataType: "text",
                    success: function (data) {
                        $("input[name=UserID]:checkbox").attr("checked", false);  
                         alert(data);
                        window.location.reload();
                       
                    }


                })
            }
        }
    </script>
}
@*<div id="top">

        @Html.ActionLink("新增", "Add", "UserInfo", new { @class = "btn btn-primary" })
        @Html.ActionLink("导入", "Edit", "UserInfo", new { @class = "btn btn-success" })
        @Html.ActionLink("删除", "Delete", "UserInfo", new { @class = "btn btn-danger" })
        &nbsp; &nbsp; &nbsp;
        @using (Html.BeginForm("Index", "UserInfo", FormMethod.Post))
        {
            @Html.DropDownList("DepartmentID", ViewBag.modules as IEnumerable<SelectListItem>, "--请选择--", 0)
            @Html.TextBox("Name", null)<input id="Submit1" type="submit" value="查询" class="btn btn-primary" />
        }


    </div>*@
@*<table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>部门</th>
                <th>性别</th>
                <th>账号</th>
                <th>密码</th>
                <th>照片</th>
                <th>备注</th>
                <th>该账号拥有的角色</th>
                <th>设置角色</th>
                <th>修改</th>
                <th>删除</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td> @Html.DisplayFor(modelItem => item.Name)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Departments.Name)
                    </td>
                    <td>
                        @if (item.Sex == true)
                        {
                            @:男
                        }
                        else
                        {
                            @:女
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Account)</td>
                    <td>@Html.DisplayFor(modelItem => item.Pwd)</td>
                    <td><img src="../imgaes/@item.Photo" style="height:50px" /></td>
                    <td>@Html.DisplayFor(modelItem => item.Remark)</td>
                    <td>
                        @foreach (var items in item.R_User_Roles)
                        {
                            @Html.DisplayFor(modelItem => items.Roles.Name)
                            <a href="/UserInfo/DelRoles/?id=@items.ID" onclick="return confirm('您确认要删除 @item.Name 的 @items.Roles.Name 职位信息吗？')">X</a><br />
                        }
                    </td>
                    <td>
                        @Html.ActionLink("设置角色", "EditRole", "UserInfo", new { ids = item.ID, name = item.Name }, new { target = "_blank" })
                    </td>

                    <td>@Html.ActionLink("修改", "Edit", "UserInfo")</td>
                    <td>@Html.ActionLink("删除", "Delete", "UserInfo")</td>

                </tr>
            }

        </tbody>
    </table>*@
@*<div>
       分页主要代码
        每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>*@
