<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        #off {
        margin-left:20px;
        }
         #user {
        margin-left:80px;
        }
        .error {
        color:red;
        }
    </style>
</head>
@using Account.Models

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("权限管理系统", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.ActionLink("主页", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @if (Session["User"] != null&&Session["ru"]!=null)
                {
                    UserInfos name = Session["User"] as UserInfos;
                    <ul class="nav navbar-nav">
                        @foreach (var item in Session["ru"] as List<V_User_Role_Menus>)
                        {
                            <li><a href="@item.Url">@item.Name</a></li>
                        }
                        &nbsp; &nbsp;
                        <li id="user">
                            <a>当前登陆用户：@name.Name</a>
                        </li>
                        &nbsp; &nbsp; &nbsp;
                        <li id="off">
                            <a href="/Login/Loginoff" class="btn btn-danger">注销</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav">
                        <li id="off">
                            <a href="/Login/Index" class="btn btn-danger">请点击登陆</a>
                        </li>

                    </ul>
                }
            </div>

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
