
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutEmax.cshtml";
}
@using Account.Models
@model Teacher
<h2>教师信息详情</h2>

<div>
    <h4>教师信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            姓名
        </dt>

        <dd>
            @Model.TeacherName
        </dd>

        <dt>
            登录名
        </dt>

        <dd>
            @Model.TeacherLoginName
        </dd>

        <dt>
            密码
        </dt>

        <dd>
            @Model.TeacherLoginPwd
        </dd>

        <dt>
            电话
        </dt>

        <dd>
            @Model.TeacherPhone
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Model.TeacherEmail
        </dd>

    </dl>
</div>
<p>
    <a href="/Teacher/Edit/@Model.TeacherID">编辑</a> |
    <a href="/Teacher">返回教师列表</a>
</p>

