
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutEmax.cshtml";
}
@using Account.Models
@model Student
<h2>学生详情</h2>

<div>
    <h4>学生信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            姓名
        </dt>

        <dd>
            @Model.StuName
        </dd>

        <dt>
            登录名
        </dt>

        <dd>
            @Model.StuLoginName
        </dd>

        <dt>
            密码
        </dt>

        <dd>
            @Model.StuLoginPwd
        </dd>

        <dt>
            性别
        </dt>

        <dd>
           @if (Model.StuSex)
           {
               @:男
           }
           else
           {
               @:女
           }
        </dd>

        <dt>
            电话
        </dt>

        <dd>
            @Model.StuPhone
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Model.StuEmail
        </dd>

        <dt>
            班级
        </dt>

        <dd>
            @Model.StuGrade
        </dd>

    </dl>
</div>
<p>
    <a href="/Students/Edit/1">编辑</a>  |
    <a href="/Students">返回学生列表</a>
</p>

