
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmax.cshtml";
}
@using Account.Models
@model List<Student>
<h2>学生列表</h2>
<p>
    <a href="/Students/Create">添加新的学生</a>
</p>
<table class="table">
    <tr>
        <th>姓名</th>
        <th>登录名</th>
        <th>密码</th>
        <th>性别</th>
        <th>电话</th>
        <th>Email</th>
        <th>班级</th>
        <th>操作</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.StuName</td>
    <td>@item.StuLoginName</td>
    <td>@item.StuLoginPwd</td>
    <td>
        @if (@item.StuSex==false)
        {
            @:女
        }
        else
        {
            @:男
        }
    </td>
    <td>@item.StuPhone</td>
    <td>@item.StuEmail</td>
    <td>@item.StuGrade</td>
    <td>
        <a href="/Students/Edit/@item.StuID">编辑</a> |
        <a href="/Students/Details/@item.StuID">详情</a> |
        <a href="/Students/Delete/@item.StuID" onclick="return confirm('您确认要删除 @item.StuName 的这位学生信息吗？')">删除</a>
    </td>
</tr>
    }
 </table>

