
@{
    ViewBag.Title = "BeginAnswer";
    Layout = "~/Views/Shared/_LayoutEmax.cshtml";
    Student stu = Session["user"] as Student;
    int AnswerID = ViewBag.answerID;
}
@using Account.Models
@model Paper
<h2>在线考试</h2>
<table>
    <tr>
        <td>
            <h4>试卷描述</h4><hr />
            试卷名称: @Model.PaperName <br />
            试卷介绍: @Model.PaperExplain<br />
            试卷时长: @Model.PaperTime (分钟)<br />
        </td>
        <td>
            <h4>考生信息</h4><hr />
            学生姓名: @stu.StuName <br />
            学生班级: @stu.StuGrade<br />
            <a href="/Answers/Hand/10">交卷</a><br />
        </td>
    </tr>
</table>

<fieldset>
    <legend>答题区</legend>
    <div>
        @foreach (var item in Model.Topic.OrderBy(p => p.TopicSort))
        {
            <ul style="list-style:none;">
                <li style="padding:20px;">
                    <span style="font-weight:bold"> @item.TopicExplain</span> ( @item.TopicScore 分)
                    <ul style="padding-left:30px;list-style:none;">
                        if (item.TopicType == 1)
                        {
                        <li><input type="radio" name="DetailAnswer" onclick="ChangeAnser('@item.TopicID','@item.TopicA')" />A. @item.TopicA</li>
                        <li><input type="radio" name="DetailAnswer" onclick="ChangeAnser('@item.TopicID','@item.TopicB')" />B. @item.TopicB</li>
                        <li><input type="radio" name="DetailAnswer" onclick="ChangeAnser('@item.TopicID','@item.TopicC')" />C. @item.TopicC</li>
                        <li><input type="radio" name="DetailAnswer" onclick="ChangeAnser('@item.TopicID','@item.TopicD')" />D. @item.TopicD</li>
                        }
                        else if (item.TopicType == 2)
                        {
                        <li><input type="radio" name="DetailAnswer" onclick="ChangeAnser('@item.TopicID','对')" />对</li>
                        <li><input type="radio" name="DetailAnswer" onclick="ChangeAnser('@item.TopicID','错')" />错</li>
                        }
                        else if (item.TopicType == 3)
                        {
                        <li>
                            <input type="radio" name="DetailAnswer" onclick="ChangeAnser(@item.TopicID,'对')" />
                            <textarea onblur="GetDetailAnswer('@item.TopicID')" id="content">

                           </textarea>
                        </li>
                        }
                    </ul>
                </li>
            </ul>
        }

    </div>
</fieldset>
@section Scripts{

    <script type="text/javascript">
        function ChangeAnser(id,DetailAnswer) {
            jQuery.ajax({
                url: "/Answers/ChangeAnser",
                data: { "AnwserID":@AnswerID,"id": id,"DetailAnswer": DetailAnswer, },
                type: "GET",
                success: function (data) {
                    console.log(123);                
                },
                error: function(xhr,error,ex) {
                   console.log(000);
                }
            });        
        }
        function GetDetailAnswer(id) {
            var DetailAnswer = $("#content").val();
            ChangeAnser(id, DetailAnswer);
        }
        
    </script>
}


