
@{
    ViewBag.Title = "TeAnswerDetail";
    Layout = "~/Views/Shared/_LayoutEmax.cshtml";
    List<Detail> details = ViewBag.Detaillist;
    int Sorec = 0;
}
@using Account.Models
@model Answer
<h2>审卷</h2>
<table>
    <tr>
        <td>
            <h4>试卷描述</h4><hr />
            试卷名称: @Model.Paper.PaperName <br />
            试卷介绍: @Model.Paper.PaperExplain<br />
            试卷时长: @Model.Paper.PaperTime (分钟)<br />
        </td>
        <td>
            <h4>考生信息</h4><hr />
            学生姓名: @Model.Student.StuName <br />
            学生班级: @Model.Student.StuGrade<br />
            交卷时间： <br />
        </td>
    </tr>
</table>
<fieldset>
    <legend>答题区</legend>
    <ul>
        @foreach (var item in details)
        {
            <li>
                <span style="font-weight:bold"> @item.Topic.TopicExplain</span> ( @item.Topic.TopicScore 分)
                <ul style="padding-left:30px;">
                    <li>
                        <span style="color:blue;">学生的答案是：@item.DetailAnswer </span>
                        @if (item.Topic.TopicType == 3)
                        {
                            if (item.Answer.AnswerState != 2)
                            {
                                @:请输入您给的分值为：
                                <input id="sorec" name="sorec0" type="text" />
                            }
                        }
                        else
                        {
                            if (item.DetailAnswer == item.Topic.TopicAnswer)
                            {
                                <span style="color:green">✔</span>
                                Sorec += int.Parse(item.Topic.TopicScore.ToString());
                                //<input id="sorec0" name="sorec" type="hidden" value="@item.Topic.TopicScore"/>
                            }
                            else
                            {
                                <span style="color:red">✘</span>

                            }
                        }

                    </li>
                    <li><span style="color:red;">正确答案是：@item.Topic.TopicAnswer</span></li>
                </ul>
            </li>
        }
    </ul>

    <div style="font-size:30px;color:red;padding:10px 50px">
        @if (Model.AnswerState == 2)
        {
            <span> 分数：@Model.AnswerScore </span>
        }
    </div>
    @if (Model.AnswerState != 2)
    {
        <h2 style="color:red"><a href="#" onclick="ToSmbuit()">提交审卷！！</a></h2>
    }
</fieldset>

@section scripts{
<script type="text/javascript">
    function ToSmbuit() {
        var s = 0;
        if ($("#sorec").length>0) {
            s = $("#sorec").val();
        }
      $.ajax({
        url: "/Answers/ToSmbuit",
        type: "Post",
        data: {
            AnswerID:@Model.AnswerID,
            Sorec:@Sorec,
            ss:s
          },
          success: function (data) {
              window.location.href="/Answers/Index";
          }
    })
    }
</script>    
}


