
@{
    ViewBag.Title = "Index";
    Departments de= ViewBag.de;
}
@using Account.Models
@using PagedList.Mvc
@model PagedList.IPagedList<Account.Models.Departments>
<div class="navbar-collapse">
    <ul class=" breadcrumb">
        <li><a href="Home/Index">主页</a></li>
        <li class="active">部门管理</li>
    </ul>
</div>
<h2>部门管理</h2>
<div class="row">
    <div class="col-lg-6">
        @using (Html.BeginForm("Add", "Department", FormMethod.Post, new { @class = "form-horizontal", id = "form1" }))
        {
            if (de != null)
            {
                <input id="Text1" type="hidden" name="ID" value="@de.ID" />
                   <label>部门名称</label>
                    <input id="Text1" type="text" name="Name" value="@de.Name" />
                    <label>备注</label>
                    <input id="Text1" type="text" name="Remark" value="@de.Remark" />
                }
                else
                {
                    <label>部门名称</label>
                    @Html.TextBox("Name", null, new { })
                    <label>备注</label>
                    @Html.TextBox("Remark", null, new { })
                }
                <input id="submit" type="submit" value="新增部门" class="btn btn-primary btn-lg" />
            }
</div>
    <div class="col-lg-6">
        <form action="/Department/Index" method="post">
            <label>部门名称:</label>
            @if (ViewBag.i != null)
            {

                <input type="text" id="Name" name="Name" placeholder="菜单名" value="@ViewBag.i" />
            }
            else
            {
                <input type="text" id="Name" name="Name" placeholder="菜单名" value="" />
            }

            <input id="Submit1" type="submit" value="查询" class="btn btn-success" />
        </form>
    </div>
</div>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>编号</th>
            <th>名称</th>
            <th>备注</th>
            <th>该部门人员</th>
            <th>人员数</th>
            <th>修改</th>
            <th>删除</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.Remark</td>
            <td>
                @foreach (var items in item.UserInfos)
                {
                    @items.Name<br />
                }
            </td>
            <td>
                @item.UserInfos.Count()
            </td>
            <td><a href="/Department/Edit/@item.ID" class="btn btn-primary">修改</a></td>
            <td><a href="/Department/Delete/@item.ID" class="btn btn-danger" onclick="return confirm('您确认要删除 @item.Name 的这个部门信息吗？')">删除</a></td>
           
        </tr>
        }

    </tbody>
</table>
<div>
    每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
